@import '../../src/var.css';

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    display: flex;
    color: var(--color-text);
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.title{
    font-family: var(--font-roboto);
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 33px;
    background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.paragraph{
    font-size: 1.875rem;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn{
    background-color: var(--color-primary);
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 73px;
    width: 209px;
    border-radius: 100px;
    font-family: var(--font-outfit);
    font-size: 1.875rem;
    font-weight: 600;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg{
    width: 50%;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -120px;
    left: 10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;

}

.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 240px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container{
        flex-direction: column-reverse;
    }

    .content{
        align-items: center;
    }
}